## Step 2: Add Vehicle Assignments

Follows Step 1, `add_warnings_with_status_time_open_to_db.ipynb`
Followed by Step 3, 
**Successfully run on complete historical data, adding vehicle assignment table to `ituran_synchromatics_data.sqlite` in Data Integration - All Months**

create a driver_schedule table, and
for each month, and for each route, add all records to that single table

we may care to sort the records before adding to the database table

first, we need to know if it is safe to use vehicle_assignment_id as the
primary key for driver schedule records, so we test for uniqueness across all
data files: for each VehiclesThatRanRoute file across all routes and months,
read vehicle_assignment_id values into an array, count the unique array
entries and compare for equality with the array length.

In [1]:
import numpy as np
from os import path, walk
import pandas as pd
from sqlalchemy import create_engine

# Search over .zip files in LADOT Synchromatics data
project_root_dir = r'\\vntscex.local\DFS\3BC-Share$_Mobileye_Data\Data\Data Integration - All Months' 
data_root_dir = path.join(project_root_dir, 'data_sources')

vehicle_assignment_data = []

In [2]:
for dir, subdirs, files in walk(data_root_dir):
    print(files)

[]
[]
['296_296DASHB_RouteAndStops.txt', '296_296DASHB_StopTimes_100118_to_103118.txt', '296_296DASHB_VehiclesThatRanRoute_100118_to_103118.txt']
['297_297DASHE_RouteAndStops.txt', '297_297DASHE_StopTimes_100118_to_103118.txt', '297_297DASHE_VehiclesThatRanRoute_100118_to_103118.txt']
['298_298DASHF_RouteAndStops.txt', '298_298DASHF_StopTimes_100118_to_103118.txt', '298_298DASHF_VehiclesThatRanRoute_100118_to_103118.txt']
['9212_9212DASHD_RouteAndStops.txt', '9212_9212DASHD_StopTimes_100118_to_103118.txt', '9212_9212DASHD_VehiclesThatRanRoute_100118_to_103118.txt']
['9960_9960DASHA_StopTimes_100118_to_103118.txt', '9960_9960DASHA_VehiclesThatRanRoute_100118_to_103118.txt']
[]
['296_296DASHB_RouteAndStops.txt', '296_296DASHB_StopTimes_090118_to_093018.txt', '296_296DASHB_VehiclesThatRanRoute_090118_to_093018.txt']
['297_297DASHE_RouteAndStops.txt', '297_297DASHE_StopTimes_090118_to_093018.txt', '297_297DASHE_VehiclesThatRanRoute_090118_to_093018.txt']
['298_298DASHF_RouteAndStops.txt', '298_298DASHF_StopTimes_090118_to_093018.txt', '298_298DASHF_VehiclesThatRanRoute_090118_to_093018.txt']
['9212_9212DASHD_RouteAndStops.txt', '9212_9212DASHD_StopTimes_090118_to_093018.txt', '9212_9212DASHD_VehiclesThatRanRoute_090118_to_093018.txt']
['9270_9270DASHAended92_RouteAndStops.txt', '9270_9270DASHAended92_StopTimes_090118_to_093018.txt', '9270_9270DASHAended92_VehiclesThatRanRoute_090118_to_093018.txt']
['9960_9960DASHA_StopTimes_090118_to_093018.txt', '9960_9960DASHA_VehiclesThatRanRoute_090118_to_093018.txt']
[]
['296_296DASHB_RouteAndStops.txt', '296_296DASHB_StopTimes_080118_to_083118.txt', '296_296DASHB_VehiclesThatRanRoute_080118_to_083118.txt']
['297_297DASHE_RouteAndStops.txt', '297_297DASHE_StopTimes_080118_to_083118.txt', '297_297DASHE_VehiclesThatRanRoute_080118_to_083118.txt']
['298_298DASHF_RouteAndStops.txt', '298_298DASHF_StopTimes_080118_to_083118.txt', '298_298DASHF_VehiclesThatRanRoute_080118_to_083118.txt']
['9212_9212DASHD_RouteAndStops.txt', '9212_9212DASHD_StopTimes_080118_to_083118.txt', '9212_9212DASHD_VehiclesThatRanRoute_080118_to_083118.txt']
['9270_9270DASHAended92_RouteAndStops.txt', '9270_9270DASHAended92_StopTimes_080118_to_083118.txt', '9270_9270DASHAended92_VehiclesThatRanRoute_080118_to_083118.txt']
[]
['296_296DASHB_RouteAndStops.txt', '296_296DASHB_StopTimes_070118_to_073118.txt', '296_296DASHB_VehiclesThatRanRoute_070118_to_073118.txt']
['297_297DASHE_RouteAndStops.txt', '297_297DASHE_StopTimes_070118_to_073118.txt', '297_297DASHE_VehiclesThatRanRoute_070118_to_073118.txt']
['298_298DASHF_RouteAndStops.txt', '298_298DASHF_StopTimes_070118_to_073118.txt', '298_298DASHF_VehiclesThatRanRoute_070118_to_073118.txt']
['8435_8435DASHAended71_RouteAndStops.txt', '8435_8435DASHAended71_StopTimes_070118_to_073118.txt', '8435_8435DASHAended71_VehiclesThatRanRoute_070118_to_073118.txt']
['9212_9212DASHD_RouteAndStops.txt', '9212_9212DASHD_StopTimes_070118_to_073118.txt', '9212_9212DASHD_VehiclesThatRanRoute_070118_to_073118.txt']
['9270_9270DASHAended92_RouteAndStops.txt', '9270_9270DASHAended92_StopTimes_070118_to_073118.txt', '9270_9270DASHAended92_VehiclesThatRanRoute_070118_to_073118.txt']
[]
['296_296DASHB_RouteAndStops.txt', '296_296DASHB_StopTimes_060118_to_063018.txt', '296_296DASHB_VehiclesThatRanRoute_060118_to_063018.txt']
['297_297DASHE_RouteAndStops.txt', '297_297DASHE_StopTimes_060118_to_063018.txt', '297_297DASHE_VehiclesThatRanRoute_060118_to_063018.txt']
['298_298DASHF_RouteAndStops.txt', '298_298DASHF_StopTimes_060118_to_063018.txt', '298_298DASHF_VehiclesThatRanRoute_060118_to_063018.txt']
['408_408DASHDended627_RouteAndStops.txt', '408_408DASHDended627_StopTimes_060118_to_063018.txt', '408_408DASHDended627_VehiclesThatRanRoute_060118_to_063018.txt']
['8435_8435DASHAended71_RouteAndStops.txt', '8435_8435DASHAended71_StopTimes_060118_to_063018.txt', '8435_8435DASHAended71_VehiclesThatRanRoute_060118_to_063018.txt']
['9212_9212DASHD_RouteAndStops.txt', '9212_9212DASHD_StopTimes_060118_to_063018.txt', '9212_9212DASHD_VehiclesThatRanRoute_060118_to_063018.txt']
[]
['296_296DASHB_RouteAndStops.txt', '296_296DASHB_StopTimes_050118_to_053118.txt', '296_296DASHB_VehiclesThatRanRoute_050118_to_053118.txt']
['297_297DASHE_RouteAndStops.txt', '297_297DASHE_StopTimes_050118_to_053118.txt', '297_297DASHE_VehiclesThatRanRoute_050118_to_053118.txt']
['298_298DASHF_RouteAndStops.txt', '298_298DASHF_StopTimes_050118_to_053118.txt', '298_298DASHF_VehiclesThatRanRoute_050118_to_053118.txt']
['408_408DASHDended627_RouteAndStops.txt', '408_408DASHDended627_StopTimes_050118_to_053118.txt', '408_408DASHDended627_VehiclesThatRanRoute_050118_to_053118.txt']
['8435_8435DASHAended71_RouteAndStops.txt', '8435_8435DASHAended71_StopTimes_050118_to_053118.txt', '8435_8435DASHAended71_VehiclesThatRanRoute_050118_to_053118.txt']
[]
['296_296DASHB_RouteAndStops.txt', '296_296DASHB_StopTimes_040118_to_043018.txt', '296_296DASHB_VehiclesThatRanRoute_040118_to_043018.txt']
['297_297DASHE_RouteAndStops.txt', '297_297DASHE_StopTimes_040118_to_043018.txt', '297_297DASHE_VehiclesThatRanRoute_040118_to_043018.txt']
['298_298DASHF_RouteAndStops.txt', '298_298DASHF_StopTimes_040118_to_043018.txt', '298_298DASHF_VehiclesThatRanRoute_040118_to_043018.txt']
['408_408DASHDended627_RouteAndStops.txt', '408_408DASHDended627_StopTimes_040118_to_043018.txt', '408_408DASHDended627_VehiclesThatRanRoute_040118_to_043018.txt']
['8435_8435DASHAended71_RouteAndStops.txt', '8435_8435DASHAended71_StopTimes_040118_to_043018.txt', '8435_8435DASHAended71_VehiclesThatRanRoute_040118_to_043018.txt']
[]
['296_296DASHB_RouteAndStops.txt', '296_296DASHB_StopTimes_030118_to_033118.txt', '296_296DASHB_VehiclesThatRanRoute_030118_to_033118.txt']
['297_297DASHE_RouteAndStops.txt', '297_297DASHE_StopTimes_030118_to_033118.txt', '297_297DASHE_VehiclesThatRanRoute_030118_to_033118.txt']
['298_298DASHF_RouteAndStops.txt', '298_298DASHF_StopTimes_030118_to_033118.txt', '298_298DASHF_VehiclesThatRanRoute_030118_to_033118.txt']
['408_408DASHDended627_RouteAndStops.txt', '408_408DASHDended627_StopTimes_030118_to_033118.txt', '408_408DASHDended627_VehiclesThatRanRoute_030118_to_033118.txt']
['8435_8435DASHAended71_RouteAndStops.txt', '8435_8435DASHAended71_StopTimes_030118_to_033118.txt', '8435_8435DASHAended71_VehiclesThatRanRoute_030118_to_033118.txt']
[]
['296_296DASHB_RouteAndStops.txt', '296_296DASHB_StopTimes_020118_to_022818.txt', '296_296DASHB_VehiclesThatRanRoute_020118_to_022818.txt']
['297_297DASHE_RouteAndStops.txt', '297_297DASHE_StopTimes_020118_to_022818.txt', '297_297DASHE_VehiclesThatRanRoute_020118_to_022818.txt']
['298_298DASHF_RouteAndStops.txt', '298_298DASHF_StopTimes_020118_to_022818.txt', '298_298DASHF_VehiclesThatRanRoute_020118_to_022818.txt']
['408_408DASHDended627_RouteAndStops.txt', '408_408DASHDended627_StopTimes_020118_to_022818.txt', '408_408DASHDended627_VehiclesThatRanRoute_020118_to_022818.txt']
['409_409DASHA_RouteAndStops.txt', '409_409DASHA_StopTimes_020118_to_022818.txt', '409_409DASHA_VehiclesThatRanRoute_020118_to_022818.txt']
[]
['296_296DASHB_RouteAndStops.txt', '296_296DASHB_StopTimes_010118_to_013118.txt', '296_296DASHB_VehiclesThatRanRoute_010118_to_013118.txt']
['297_297DASHE_RouteAndStops.txt', '297_297DASHE_StopTimes_010118_to_013118.txt', '297_297DASHE_VehiclesThatRanRoute_010118_to_013118.txt']
['298_298DASHF_RouteAndStops.txt', '298_298DASHF_StopTimes_010118_to_013118.txt', '298_298DASHF_VehiclesThatRanRoute_010118_to_013118.txt']
['408_408DASHDended627_RouteAndStops.txt', '408_408DASHDended627_StopTimes_010118_to_013118.txt', '408_408DASHDended627_VehiclesThatRanRoute_010118_to_013118.txt']
['409_409DASHA_RouteAndStops.txt', '409_409DASHA_StopTimes_010118_to_013118.txt', '409_409DASHA_VehiclesThatRanRoute_010118_to_013118.txt']
[]
['296_296DASHB_RouteAndStops.txt', '296_296DASHB_StopTimes_110118_to_113018.txt', '296_296DASHB_VehiclesThatRanRoute_110118_to_113018.txt']
['297_297DASHE_RouteAndStops.txt', '297_297DASHE_StopTimes_110118_to_113018.txt', '297_297DASHE_VehiclesThatRanRoute_110118_to_113018.txt']
['298_298DASHF_RouteAndStops.txt', '298_298DASHF_StopTimes_110118_to_113018.txt', '298_298DASHF_VehiclesThatRanRoute_110118_to_113018.txt']
['8435_8435DASHAended71_RouteAndStops.txt']
['8758_8758DASHAEffecti_RouteAndStops.txt']
['9212_9212DASHD_RouteAndStops.txt', '9212_9212DASHD_StopTimes_110118_to_113018.txt', '9212_9212DASHD_VehiclesThatRanRoute_110118_to_113018.txt']
['9270_9270DASHAended92_RouteAndStops.txt']
['9736_9736DASHDended62_RouteAndStops.txt']
['9960_9960DASHA_StopTimes_110118_to_113018.txt', '9960_9960DASHA_VehiclesThatRanRoute_110118_to_113018.txt']
[]
['296_296DASHB_RouteAndStops.txt', '296_296DASHB_StopTimes_120118_to_123118.txt', '296_296DASHB_VehiclesThatRanRoute_120118_to_123118.txt']
['297_297DASHE_RouteAndStops.txt', '297_297DASHE_StopTimes_120118_to_123118.txt', '297_297DASHE_VehiclesThatRanRoute_120118_to_123118.txt']
['298_298DASHF_RouteAndStops.txt', '298_298DASHF_StopTimes_120118_to_123118.txt', '298_298DASHF_VehiclesThatRanRoute_120118_to_123118.txt']
['408_408DASHDended627_RouteAndStops.txt']
['409_409DASHA_RouteAndStops.txt']
['7690_7690DASHFEffecti_RouteAndStops.txt']
['8435_8435DASHAended71_RouteAndStops.txt']
['8758_8758DASHAEffecti_RouteAndStops.txt']
['9212_9212DASHD_RouteAndStops.txt', '9212_9212DASHD_StopTimes_120118_to_123118.txt', '9212_9212DASHD_VehiclesThatRanRoute_120118_to_123118.txt']
['9270_9270DASHAended92_RouteAndStops.txt']
['9736_9736DASHDended62_RouteAndStops.txt']
['9960_9960DASHA_StopTimes_120118_to_123118.txt', '9960_9960DASHA_VehiclesThatRanRoute_120118_to_123118.txt']
[]
['296_296DASHB_RouteAndStops.txt', '296_296DASHB_StopTimes_123118_to_010119.txt', '296_296DASHB_VehiclesThatRanRoute_123118_to_010119.txt']
['297_297DASHE_RouteAndStops.txt', '297_297DASHE_StopTimes_123118_to_010119.txt', '297_297DASHE_VehiclesThatRanRoute_123118_to_010119.txt']
['298_298DASHF_RouteAndStops.txt', '298_298DASHF_StopTimes_123118_to_010119.txt', '298_298DASHF_VehiclesThatRanRoute_123118_to_010119.txt']
['408_408DASHDended627_RouteAndStops.txt']
['409_409DASHA_RouteAndStops.txt']
['7690_7690DASHFEffecti_RouteAndStops.txt']
['8435_8435DASHAended71_RouteAndStops.txt']
['8758_8758DASHAEffecti_RouteAndStops.txt']
['9212_9212DASHD_RouteAndStops.txt', '9212_9212DASHD_StopTimes_123118_to_010119.txt', '9212_9212DASHD_VehiclesThatRanRoute_123118_to_010119.txt']
['9270_9270DASHAended92_RouteAndStops.txt']
['9736_9736DASHDended62_RouteAndStops.txt']
['9960_9960DASHA_StopTimes_123118_to_010119.txt', '9960_9960DASHA_VehiclesThatRanRoute_123118_to_010119.txt']

In [3]:
for dir, subdirs, files in walk(data_root_dir):
  # we assume that files only exist at the nodes
  if len(files) > 0:
    # we assume that only one driver schedule file exists in the current dir
    try:
      file_name_indices = [
        file.find('_VehiclesThatRanRoute_') >= 0 for file in files]

      file_name_index = file_name_indices.index(True)
      file_name = files[file_name_index]
      file_path = path.join(dir, file_name)

      # forget using np.unicode_ for strings since pandas treats them as objects
      # we can specify the data type since none of the values are null
      df = pd.read_table(
        file_path, usecols=[0, 1, 2, 3, 5, 6, 11, 12, 13, 14],
        header=None, skiprows=[0], parse_dates=['start_time', 'end_time'],
        names=['vehicle_assignment_id', 'vehicle_id', 'route_id', 'driver_id',
               'start_time', 'end_time', 'bus_number', 'first_name',
               'last_name', 'badge_number'],
        dtype={'vehicle_assignment_id': np.uint64, 'vehicle_id': np.uint32,
               'route_id': np.uint32, 'driver_id': np.uint32,
               'start_time': object, 'end_time': object,
               'bus_number': np.uint32, 'first_name': object,
               'last_name': object, 'badge_number': np.uint32})

      print(df.head(2))
      print(df.dtypes)

      vehicle_assignment_data.append(df)
    except Exception as e:
      print('Driver schedule file not found in {}'.format(dir))
      print(e)
      continue

   vehicle_assignment_id  vehicle_id  route_id  driver_id          start_time  \
0                1049661        1615       296       1977 2018-10-01 05:23:51
1                1049624        1609       296       2010 2018-10-01 05:28:36

             end_time  bus_number first_name last_name  badge_number
0 2018-10-01 09:57:16       15328    Richard     Trejo          6004
1 2018-10-01 08:42:04       15322      Juana  Calderon          6042
vehicle_assignment_id            uint64
vehicle_id                       uint32
route_id                         uint32
driver_id                        uint32
start_time               datetime64[ns]
end_time                 datetime64[ns]
bus_number                       uint32
first_name                       object
last_name                        object
badge_number                     uint32
dtype: object
   vehicle_assignment_id  vehicle_id  route_id  driver_id          start_time  \
0                1051929         347       297       2007 2018-10-09 06:09:00
1                1052083         347       297       2006 2018-10-09 10:54:00

             end_time  bus_number first_name          last_name  badge_number
0 2018-10-09 10:47:00       12302     Israel            Jimenez          6039
1 2018-10-09 16:09:00       12302     Rafael  Delgado-Fructuoso          6038
vehicle_assignment_id            uint64
vehicle_id                       uint32
route_id                         uint32
driver_id                        uint32
start_time               datetime64[ns]
end_time                 datetime64[ns]
bus_number                       uint32
first_name                       object
last_name                        object
badge_number                     uint32
dtype: object
   vehicle_assignment_id  vehicle_id  route_id  driver_id          start_time  \
0                1049671        1630       298      11443 2018-10-01 05:59:53
1                1049656        1628       298       1982 2018-10-01 06:01:23

             end_time  bus_number first_name last_name  badge_number
0 2018-10-01 10:23:15       15342    Matthew    Gaines          7415
1 2018-10-01 09:48:05       15341   Angeline   Pittman          6009
vehicle_assignment_id            uint64
vehicle_id                       uint32
route_id                         uint32
driver_id                        uint32
start_time               datetime64[ns]
end_time                 datetime64[ns]
bus_number                       uint32
first_name                       object
last_name                        object
badge_number                     uint32
dtype: object
   vehicle_assignment_id  vehicle_id  route_id  driver_id          start_time  \
0                1049695        3809      9212       1984 2018-10-01 05:29:53
1                1049604        3792      9212       1993 2018-10-01 05:30:35

             end_time  bus_number first_name last_name  badge_number
0 2018-10-01 11:04:37       17306     Carlos    Torres          6013
1 2018-10-01 05:33:10       17309      Steve   Heredia          6023
vehicle_assignment_id            uint64
vehicle_id                       uint32
route_id                         uint32
driver_id                        uint32
start_time               datetime64[ns]
end_time                 datetime64[ns]
bus_number                       uint32
first_name                       object
last_name                        object
badge_number                     uint32
dtype: object
   vehicle_assignment_id  vehicle_id  route_id  driver_id          start_time  \
0                1049667        1617      9960       1992 2018-10-01 05:24:09
1                1049613        1611      9960       1988 2018-10-01 05:35:19

             end_time  bus_number first_name  last_name  badge_number
0 2018-10-01 10:08:32       15330      Jorge  Hernandez          6022
1 2018-10-01 08:18:47       15324       Jose   Cabrales          6018
vehicle_assignment_id            uint64
vehicle_id                       uint32
route_id                         uint32
driver_id                        uint32
start_time               datetime64[ns]
end_time                 datetime64[ns]
bus_number                       uint32
first_name                       object
last_name                        object
badge_number                     uint32
dtype: object
   vehicle_assignment_id  vehicle_id  route_id  driver_id          start_time  \
0                1042641        1548       296       1977 2018-09-04 05:22:13
1                1042599        1572       296        735 2018-09-04 05:32:47

             end_time  bus_number first_name last_name  badge_number
0 2018-09-04 09:57:58       15311    Richard     Trejo          6004
1 2018-09-04 07:13:24       15312    Gerardo     Lopez        372765
vehicle_assignment_id            uint64
vehicle_id                       uint32
route_id                         uint32
driver_id                        uint32
start_time               datetime64[ns]
end_time                 datetime64[ns]
bus_number                       uint32
first_name                       object
last_name                        object
badge_number                     uint32
dtype: object
Driver schedule file not found in \\vntscex.local\DFS\3BC-Share$_Mobileye_Data\Data\Data Integration - All Months\data_sources\RouteDataExport_20181126_051109\297DASHE
Integer column has NA values in column 11
   vehicle_assignment_id  vehicle_id  route_id  driver_id          start_time  \
0                1042355        1544       298      10834 2018-09-01 09:35:40
1                1042409        1547       298      11970 2018-09-01 09:41:27

             end_time  bus_number first_name last_name  badge_number
0 2018-09-01 10:36:17       15307     Monica   Collins          7407
1 2018-09-01 14:21:26       15308     Martin    Segura          7426
vehicle_assignment_id            uint64
vehicle_id                       uint32
route_id                         uint32
driver_id                        uint32
start_time               datetime64[ns]
end_time                 datetime64[ns]
bus_number                       uint32
first_name                       object
last_name                        object
badge_number                     uint32
dtype: object
   vehicle_assignment_id  vehicle_id  route_id  driver_id          start_time  \
0                1042617        3791      9212       1993 2018-09-04 05:26:10
1                1042642         706      9212       2034 2018-09-04 05:29:56

             end_time  bus_number first_name last_name  badge_number
0 2018-09-04 09:07:32       17312      Steve   Heredia          6023
1 2018-09-04 09:57:59       13321     Glenda     Sealy          6076
vehicle_assignment_id            uint64
vehicle_id                       uint32
route_id                         uint32
driver_id                        uint32
start_time               datetime64[ns]
end_time                 datetime64[ns]
bus_number                       uint32
first_name                       object
last_name                        object
badge_number                     uint32
dtype: object
   vehicle_assignment_id  vehicle_id  route_id  driver_id          start_time  \
0                1042629        2789      9270       1992 2018-09-04 05:34:54
1                1042602        1573      9270       1988 2018-09-04 05:37:02

             end_time  bus_number first_name  last_name  badge_number
0 2018-09-04 09:38:16       17301      Jorge  Hernandez          6022
1 2018-09-04 08:08:03       15313       Jose   Cabrales          6018
vehicle_assignment_id            uint64
vehicle_id                       uint32
route_id                         uint32
driver_id                        uint32
start_time               datetime64[ns]
end_time                 datetime64[ns]
bus_number                       uint32
first_name                       object
last_name                        object
badge_number                     uint32
dtype: object
   vehicle_assignment_id  vehicle_id  route_id  driver_id          start_time  \
0                1047772        1618      9960       1988 2018-09-24 05:38:09
1                1047773        1609      9960       2050 2018-09-24 05:38:46

             end_time  bus_number first_name  last_name  badge_number
0 2018-09-24 08:16:16       15331       Jose   Cabrales          6018
1 2018-09-24 08:28:49       15322      Mario  Jaramillo          6099
vehicle_assignment_id            uint64
vehicle_id                       uint32
route_id                         uint32
driver_id                        uint32
start_time               datetime64[ns]
end_time                 datetime64[ns]
bus_number                       uint32
first_name                       object
last_name                        object
badge_number                     uint32
dtype: object
   vehicle_assignment_id  vehicle_id  route_id  driver_id          start_time  \
0                1033846        1626       296       1977 2018-08-01 05:26:53
1                1033804        1572       296       2010 2018-08-01 05:28:24

             end_time  bus_number first_name last_name  badge_number
0 2018-08-01 10:02:47       15339    Richard     Trejo          6004
1 2018-08-01 08:41:17       15312      Juana  Calderon          6042
vehicle_assignment_id            uint64
vehicle_id                       uint32
route_id                         uint32
driver_id                        uint32
start_time               datetime64[ns]
end_time                 datetime64[ns]
bus_number                       uint32
first_name                       object
last_name                        object
badge_number                     uint32
dtype: object
   vehicle_assignment_id  vehicle_id  route_id  driver_id          start_time  \
0                1033819         700       297       1991 2018-08-01 05:53:12
1                1033871         347       297       2007 2018-08-01 06:07:47

             end_time  bus_number first_name  last_name  badge_number
0 2018-08-01 09:14:10       13323      Edgar  Hernandez          6021
1 2018-08-01 10:51:34       12302     Israel    Jimenez          6039
vehicle_assignment_id            uint64
vehicle_id                       uint32
route_id                         uint32
driver_id                        uint32
start_time               datetime64[ns]
end_time                 datetime64[ns]
bus_number                       uint32
first_name                       object
last_name                        object
badge_number                     uint32
dtype: object
   vehicle_assignment_id  vehicle_id  route_id  driver_id          start_time  \
0                1033816        1613       298       2123 2018-08-01 05:59:28
1                1033854        1546       298       7250 2018-08-01 06:00:03

             end_time  bus_number first_name   last_name  badge_number
0 2018-08-01 09:07:10       15326   Miguel A  Valdovinos          6187
1 2018-08-01 10:22:50       15309      Kevin      Dancer          7331
vehicle_assignment_id            uint64
vehicle_id                       uint32
route_id                         uint32
driver_id                        uint32
start_time               datetime64[ns]
end_time                 datetime64[ns]
bus_number                       uint32
first_name                       object
last_name                        object
badge_number                     uint32
dtype: object
   vehicle_assignment_id  vehicle_id  route_id  driver_id          start_time  \
0                1033802         707      9212       2056 2018-08-01 05:22:05
1                1033831         657      9212       3855 2018-08-01 05:24:13

             end_time  bus_number first_name last_name  badge_number
0 2018-08-01 08:22:30       12334   Porfirio    Chavez          6107
1 2018-08-01 09:41:12       12332   Tagumpay    Aquino          7205
vehicle_assignment_id            uint64
vehicle_id                       uint32
route_id                         uint32
driver_id                        uint32
start_time               datetime64[ns]
end_time                 datetime64[ns]
bus_number                       uint32
first_name                       object
last_name                        object
badge_number                     uint32
dtype: object
   vehicle_assignment_id  vehicle_id  route_id  driver_id          start_time  \
0                1033826        2789      9270       1992 2018-08-01 05:31:15
1                1033800        1548      9270       1988 2018-08-01 05:39:02

             end_time  bus_number first_name  last_name  badge_number
0 2018-08-01 09:34:23       17301      Jorge  Hernandez          6022
1 2018-08-01 08:12:19       15311       Jose   Cabrales          6018
vehicle_assignment_id            uint64
vehicle_id                       uint32
route_id                         uint32
driver_id                        uint32
start_time               datetime64[ns]
end_time                 datetime64[ns]
bus_number                       uint32
first_name                       object
last_name                        object
badge_number                     uint32
dtype: object
   vehicle_assignment_id  vehicle_id  route_id  driver_id          start_time  \
0                1025822        1624       296       8452 2018-06-29 13:42:14
1                1025823        1640       296        742 2018-06-29 18:42:21

             end_time  bus_number first_name last_name  badge_number
0 2018-07-01 09:07:47       15337     Felipe  Martinez          7348
1 2018-07-01 09:07:49       15345       Jose      Mata        372383
vehicle_assignment_id            uint64
vehicle_id                       uint32
route_id                         uint32
driver_id                        uint32
start_time               datetime64[ns]
end_time                 datetime64[ns]
bus_number                       uint32
first_name                       object
last_name                        object
badge_number                     uint32
dtype: object
   vehicle_assignment_id  vehicle_id  route_id  driver_id          start_time  \
0                1025826         364       297       1983 2018-06-29 13:41:35
1                1025828         352       297        756 2018-06-29 14:54:30

             end_time  bus_number first_name last_name  badge_number
0 2018-07-01 09:07:55       12301     Donald     Moore          6010
1 2018-07-01 09:07:59       12313    Yesenia   Ramirez        370410
vehicle_assignment_id            uint64
vehicle_id                       uint32
route_id                         uint32
driver_id                        uint32
start_time               datetime64[ns]
end_time                 datetime64[ns]
bus_number                       uint32
first_name                       object
last_name                        object
badge_number                     uint32
dtype: object
   vehicle_assignment_id  vehicle_id  route_id  driver_id          start_time  \
0                1025830        1630       298      11250 2018-06-30 13:38:05
1                1025829        1628       298        791 2018-06-30 14:24:36

             end_time  bus_number first_name last_name  badge_number
0 2018-07-01 09:08:02       15342      Lilia    Amador          7414
1 2018-07-01 09:08:00       15341       Juan    Garcia        370459
vehicle_assignment_id            uint64
vehicle_id                       uint32
route_id                         uint32
driver_id                        uint32
start_time               datetime64[ns]
end_time                 datetime64[ns]
bus_number                       uint32
first_name                       object
last_name                        object
badge_number                     uint32
dtype: object
   vehicle_assignment_id  vehicle_id  route_id  driver_id          start_time  \
0                1025821        1617      8435        704 2018-06-29 12:32:37
1                1025820        1547      8435      12079 2018-06-29 14:10:16

             end_time  bus_number  first_name  last_name  badge_number
0 2018-07-01 09:07:45       15330  Test first  Test last           999
1 2018-07-01 09:07:43       15308     Charles     Lester          7427
vehicle_assignment_id            uint64
vehicle_id                       uint32
route_id                         uint32
driver_id                        uint32
start_time               datetime64[ns]
end_time                 datetime64[ns]
bus_number                       uint32
first_name                       object
last_name                        object
badge_number                     uint32
dtype: object
   vehicle_assignment_id  vehicle_id  route_id  driver_id          start_time  \
0                1025824        3790      9212       1986 2018-06-29 11:00:49
1                1025825         690      9212        737 2018-06-29 13:23:55

             end_time  bus_number first_name     last_name  badge_number
0 2018-07-01 09:07:51       17308    Katanya  Brown-Currie          6016
1 2018-07-01 09:07:53       12336   Wilfredo         Lopez        378666
vehicle_assignment_id            uint64
vehicle_id                       uint32
route_id                         uint32
driver_id                        uint32
start_time               datetime64[ns]
end_time                 datetime64[ns]
bus_number                       uint32
first_name                       object
last_name                        object
badge_number                     uint32
dtype: object
Driver schedule file not found in \\vntscex.local\DFS\3BC-Share$_Mobileye_Data\Data\Data Integration - All Months\data_sources\RouteDataExport_20181126_051653\9270DASHAended92
Integer column has NA values in column 11
   vehicle_assignment_id  vehicle_id  route_id  driver_id          start_time  \
0                1016947        1628       296       2002 2018-06-01 05:29:24
1                1016986        1613       296       2123 2018-06-01 05:31:35

             end_time  bus_number first_name   last_name  badge_number
0 2018-06-01 07:46:03       15341   Rosemary      Llamas          6034
1 2018-06-01 09:36:40       15326   Miguel A  Valdovinos          6187
vehicle_assignment_id            uint64
vehicle_id                       uint32
route_id                         uint32
driver_id                        uint32
start_time               datetime64[ns]
end_time                 datetime64[ns]
bus_number                       uint32
first_name                       object
last_name                        object
badge_number                     uint32
dtype: object
Driver schedule file not found in \\vntscex.local\DFS\3BC-Share$_Mobileye_Data\Data\Data Integration - All Months\data_sources\RouteDataExport_20181126_051929\297DASHE
Integer column has NA values in column 11
Driver schedule file not found in \\vntscex.local\DFS\3BC-Share$_Mobileye_Data\Data\Data Integration - All Months\data_sources\RouteDataExport_20181126_051929\298DASHF
Integer column has NA values in column 3
   vehicle_assignment_id  vehicle_id  route_id  driver_id          start_time  \
0                1018557         346       408       2009 2018-06-07 06:07:00
1                1018596         346       408        737 2018-06-07 10:42:00

             end_time  bus_number first_name last_name  badge_number
0 2018-06-07 10:41:00       12315     Carlos     Anaya          6041
1 2018-06-07 11:58:00       12315   Wilfredo     Lopez        378666
vehicle_assignment_id            uint64
vehicle_id                       uint32
route_id                         uint32
driver_id                        uint32
start_time               datetime64[ns]
end_time                 datetime64[ns]
bus_number                       uint32
first_name                       object
last_name                        object
badge_number                     uint32
dtype: object
   vehicle_assignment_id  vehicle_id  route_id  driver_id          start_time  \
0                1016988        2789      8435       1992 2018-06-01 05:34:01

In [4]:
vehicle_assignment_data = pd.concat(
  vehicle_assignment_data, ignore_index=True, verify_integrity=True)

# records of runs that span two days may appear once for each day depending on
# how the Excel exports were preformed, and should be dropped
vehicle_assignment_data.drop_duplicates(inplace=True)

# we temporarily also drop records with missing values to prove our concept.
# Key attributes that require values include 1) vehicle_assessment_id,
# 2) vehicle_id, 3) BusNumber, 4) driver_id (at least for longitudinal),
# 5) start_time, and 6) end_time.
# TODO: Infer missing values where possible using warning and route data
key_column_names = ['vehicle_assignment_id', 'vehicle_id', 'bus_number',
                    'driver_id', 'start_time', 'end_time']

vehicle_assignment_data.dropna(subset=key_column_names, inplace=True)

# we make no assumption about the order in which source xlsx files are input
vehicle_assignment_data.sort_values(['start_time', 'end_time'], inplace=True)

# after removing duplicate records, vehicle_assignment_ids will be unique and
# can be used as the primary key of the vehicle_assignment table. Because we
# don't yet know how this results in a SQLite PK, just reset the indices for now
# vehicle_assignment_data.set_index('vehicle_assignment_id', inplace=True)
vehicle_assignment_data.set_index(
  pd.RangeIndex(vehicle_assignment_data.shape[0]), inplace=True)

print(vehicle_assignment_data.describe())
print(df.dtypes)

       vehicle_assignment_id    vehicle_id      route_id     driver_id  \
count           2.781900e+04  27819.000000  27819.000000  27819.000000
mean            1.040284e+06   1488.457673   4024.907114   2967.038032
std             2.259969e+04   1009.710812   4389.401522   2980.353233
min             9.848530e+05    303.000000    296.000000     64.000000
25%             1.025970e+06    681.500000    297.000000   1982.000000
50%             1.041994e+06   1610.000000    298.000000   2016.000000
75%             1.059384e+06   1631.000000   9212.000000   2111.000000
max             1.074193e+06   4386.000000   9960.000000  13336.000000

         bus_number   badge_number
count  27819.000000   27819.000000
mean   14661.530716   76146.091089
std     1797.373955  144419.267690
min     6303.000000     801.000000
25%    12334.000000    6040.000000
50%    15323.000000    6128.000000
75%    15343.000000    7410.000000
max    17312.000000  379959.000000
vehicle_assignment_id            uint64
vehicle_id                       uint32
route_id                         uint32
driver_id                        uint32
start_time               datetime64[ns]
end_time                 datetime64[ns]
bus_number                       uint32
first_name                       object
last_name                        object
badge_number                     uint32
dtype: object

In [5]:
# db_path = 'sqlite:///ituran_synchromatics_data.sqlite'
db_path = 'sqlite:///' + path.join(project_root_dir, 'ituran_synchromatics_data.sqlite')

db = create_engine(db_path)

# poor performance has been observed when adding more than one million records
# at a time
vehicle_assignment_data.to_sql(
  'vehicle_assignment', db, if_exists='replace', chunksize=1000000, index=False)